#################
####
#Warcraft Game Files

#################

####

Cache/*

Data/*

Logs/*

Utils/*

Interface/Addons/Blizzard_*

Updates/*

reshade-shaders/*
*.exe

*.dll

*.*fil

*.db

*cache*.*

*.manifest

*.mpq

*.info

*.curseclient

*patch.result
*.ini
