#################
####
#Warcraft Game Files

#################

####

Cache/*

Data/*

Logs/*

Utils/*

Interface/Addons/Blizzard_*

Updates/*

*.exe

*.dll

*.*fil

*.db

*cache*.*

*.manifest

*.mpq

*.info

*.curseclient

*patch.result

*bindings-cache.wtf

*config-cache.wtf

*macros-cache.txt